*.o
*.elf
*.a
*.map
ps2boot/smw.sfc
*~
.DS_Store

# temp experiment files
*.pre_*
*.fix_*
*.big_logo
*.no_blend_backup
ps2boot/ui/assets/launcher_logo_rgba

# temp patch backup files
*.exit_direct_fix
*.exit_return_fix
*.restart_game_fix
*.restart_order_fix
*.hw_real_fix
*.page_fix
*.align_tweak
*.auto_center_fix
*.circle_band_fix
*.circle_bigger_fix
*.color_fix2
*.color_tune_fix
*.cross_circle_fix
*.footer_center_fix
*.footer_down_fix
*.footer_gray_fix
*.footer_inline_fix
*.footer_text_up_fix
*.footer_words_up2
*.footer_ytext_fix
*.gray_fix_real
*.icon_colors_restore
*.menu_header_tweak
*.ps_icons_color_fix
*.ps_icons_fix
*.rb_swap_fix
*.restore_colors_fix
*.restore_footer_positions
*.select_color_fix
*.visual_center_fix
